* styles.css */

body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    font-size: 25px;
    text-align: center;
     color: #ccc;
}
nav {
    
    text-align: center;
    color: #ccc;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

nav ul {
    list-style-type: none;
    padding: 2%;
    text-align: center;
    margin: 0;
    color: #ccc;
}

p {
    font-size:large;
    color: #ccc;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    color: #ccc;
}

nav a {
    text-decoration: Times;
    background-color: #0b0b0b;
    color: #eee6e6;
    text-align: center;
}

main {
    padding: 50px;
    color: #ccc;
}

section {
    margin-bottom: 50px;
    color: #ccc;
}

h2 {
    color: #333;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #ccc;
}

.project {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    color: #ccc;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
   
    color: #fff;
    text-align: center;
    padding: 25px 0;
}


